{% extends "::base.html.twig" %}

{% block body%}

<div class="container">

	<br>
	<h3> Collectify</h3>
	<br/>
	<div class="row">
		<div class="col-lg-5">
			{{ form(form) }}
		</div>
	</div>
</div>
{% endblock %}

{%block javascripts %}
{{ parent() }}

{% endblock %}